
.customClass {
  box-shadow:$box-shadow;
  border-radius: 4px;
  cursor: pointer;

  & .img-ul-upload {
    font-size: 1rem !important;
    font-family: $ff-title !important;
    font-weight: 600 !important;
    background-color: $color-primary !important;
    border-radius: 4px !important;
    transition: background-color 0.3s,
      box-shadow 0.3s;

    &:hover {
      background-color: darken($color-primary, 15%) !important;
      box-shadow: $box-shadow-hover !important;

    }
  }

  & .img-ul-drag-box-msg {
    color: $color-primary;
    transition: color 0.3s;
  }

  &:hover .img-ul-drag-box-msg{
    color: darken($color-primary, 15%);
  }
}
