/*------------
 GLOBAL
 ------------*/
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap');

body,
textarea {
  font-family: $ff-text;
  font-size: $fz-text;
}

form,
input,
textarea,
select {
  font-size: 1rem;
  color: $color-text-default;
}

select {
  -webkit-appearance: none;
}

/*LINKS AND BUTTONS*/
a {
  text-decoration: none;
}

.link {
  color: $color-primary;
  cursor: pointer;
  transition: color 0.3s;

  &:hover {
    color: darken($color-primary, 15%);
  }
}
/* TITLES */
.h1,
.h2,
.h3 {
  font-family: $ff-title;
  font-weight: 600;
  text-transform: uppercase;
  color: $color-primary;
  font-size: 1.875rem;
  margin: 20px 0;
}

.h2 {
  font-size: 1.7rem;
  color: $color-default;
}

.container {
  margin: 0 auto;
  width: rem(1200px);
}

.left-arrow{
  margin-right: 5px;
}
.info {
  margin-top: 3px;
  color: $color-text-disabled;
}

.border--b {
  border-top: 1px solid $grey-90;
}


.height-100 {
  min-height: 100vh;
  padding: 20px;
}

.card__img--div {
  height: 150px;
  width: 100%;
  background-color: $grey-70;
}







