/*------------
 GLOBAL
 ------------*/
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap');

body,
textarea {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

form,
input,
textarea,
select {
  font-size: 1rem;
  color: $color-text-default;
}

select {
  -webkit-appearance: none;
}

/*LINKS AND BUTTONS*/
a {
  text-decoration: none;
}

.btn {
  border: 0;
  border-radius: 5px;
  padding: 8px 10px;
  font-size: 1rem;
  background-color: $color-primary;
  color: $grey-100;
  cursor: pointer;
  outline: none;
  transition: background-color 0.3s;

  &:hover {
    background-color: darken($color-primary, 15%);
  }

}

.link {
  color: $color-primary;
  cursor: pointer;
  transition: color 0.3s;

  &:hover {
    color: darken($color-primary, 15%);
  }
}
/* TITLES */
.h1,
.h2,
.h3 {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  color: $color-primary;
  font-size: 1.875rem;
  margin: 20px 0;
}

.h2 {
  font-size: 1.7rem;
  color: $color-default;
}

.info {
  margin-top: 3px;
  color: $color-text-disabled;
}

/*------------
 UTILITIES
 ------------*/
.container {
  margin: 0 auto;
  width: rem(1200px);
}

.container--flex {
  display: flex;
  flex-direction: column;
}

.d-none {
  display: none;
}

.align--column {
  display: flex;
  flex-direction: column;
}

.align--center {
  display: flex;
  justify-content: center;
}

.align--space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.align--row {
  display: flex;
  align-items: baseline;
}

.border--b {
  border-top: 1px solid $grey-90;
}

.bold {
  font-weight: 700;
}

.height-100 {
  min-height: 100vh;
  padding: 20px;
}

.card__img--div {
  height: 150px;
  width: 100%;
  background-color: $grey-70;
}
