.modal {
  &__title {
    margin-top: 20px;
    font-size: 1.5rem;
    font-family: $ff-title;
    font-weight: 700;
    text-transform: uppercase;
    color: $color-primary;
    margin-bottom: 20px;
  }

  &__info {
    margin-bottom: 20px;
  }

  &__close {
    border: 0;
    font-size: 2rem;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 15px;

    &--xl{
      font-size: 4rem;
      position: fixed;
      top: 5px;
    }
  }
}

@media (min-width: 1024px) {

  .modal{
    &__title{
      margin-top: 0;
    }
  }
}
