<nav class="nav">
  <div class="container align--space-between">
      <ul class="nav__list">
          <li class="nav__item"><a routerLink='/home'  routerLinkActive="nav__link--selected"  class="nav__link">Inicio</a></li>
          <li class="nav__item"><a routerLink='/adopcion' routerLinkActive="nav__link--selected"  class="nav__link">Registrar mascota</a></li>
          <li class="nav__item"><a routerLink='/protectoras' routerLinkActive="nav__link--selected"  class="nav__link">Protectoras</a></li>
      </ul>
      <!--
      <div class="search">
      <button type="button" class="btn btn--search">Abrir buscador</button>
      </div>-->
  </div>
</nav>

