@import '../../../../scss/partials/variables';
@import '../../../../scss/partials/px-to-rem';



.nav {
  border-bottom: 1px solid $color-primary;
  width: 100%;

  & .container{
    width: 100%;
  }


  &__list{
    width: 100%;
  }

  &__item {
    padding: 10px 0;
    text-align: center;
    border-bottom: 1px solid $color-primary;

    &:last-of-type{
      border-bottom: 0;
    }
  }

  &__link {
    text-transform: uppercase;
    color: $color-primary;
    transition: color 0.3s;

    &--selected {
      color: $color-secondary;
    }

  }
}




@media (min-width: 1024px) {


  .nav {
    width: initial;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__list {
      width: initial;
      display: flex;
    }

    &__item {
      display: flex;
      height: rem(40px);
      border-bottom: 0;
      padding: 0;
      text-align: initial;
      border-right: 1px solid $color-primary;
    }

    &__link {
      display: flex;
      align-items: center;
      padding: 0 20px;
      transition: background-color 0.3s;

      &:hover {
        color: $grey-100;
        background-color: $color-primary;
      }

      &--selected {
        color: $grey-100;
        background-color: $color-primary;
      }

    }
  }
}
