<nav class="nav">
  <div class="container align--space-between">
      <ul class="nav__list">
          <li class="nav__item"><a routerLink='/'  class="nav__link">Inicio</a></li>
          <li class="nav__item"><a routerLink='/login' class="nav__link">Registrar mascota</a></li>
          <li class="nav__item"><a routerLink='/protectoras' class="nav__link">Protectoras</a></li>
      </ul>
      <div class="search">
      <button type="button" class="btn btn--search">Abrir buscador</button>
      </div>
  </div>
</nav>

