<div class="bread-crumbs">
  <ul class="bread-crumbs__list">
      <li class="bread-crumbs__item bread-crumbs__item--selected">Datos generales
          <svg class="paw paw--1" width="30" height="30">
              <use xlink:href="../../assets/svg/sprite.svg#paw-01"></use>
          </svg>
          <svg class="paw paw--2" width="30" height="30">
              <use xlink:href="../../assets/svg/sprite.svg#paw-02"></use>
          </svg>
      </li>
      <li class="bread-crumbs__item">Datos sanitarios
          <svg class="paw paw--3" width="30" height="30">
              <use xlink:href="../../assets/svg/sprite.svg#paw-03"></use>
          </svg>
          <svg class="paw paw--4" width="30" height="30">
              <use xlink:href="../../assets/svg/sprite.svg#paw-04"></use>
          </svg>

      </li>
      <li class="bread-crumbs__item">Datos adicionales
          <svg class="paw paw--5" width="30" height="30">
              <use xlink:href="../../assets/svg/sprite.svg#paw-05"></use>
          </svg>
          <svg class="paw paw--6" width="30" height="30">
              <use xlink:href="../../assets/svg/sprite.svg#paw-06"></use>
          </svg>

      </li>
  </ul>
</div>

