
.bread-crumbs{
  width: 60%;
  margin: 0 auto;
  padding: 20px;
  padding-bottom: 80px;
}
.bread-crumbs__list{
  display: flex;
  justify-content: space-around;
}
.bread-crumbs__item{
  color:#b7bcd6;
  position: relative;
}

.bread-crumbs__item--selected{
  color:#e1bf97;
}

.paw{
  position: absolute;
  fill: currentColor;
  bottom: -40px;
  transform: rotate(85deg);
}
.paw--1,
.paw--3,
.paw--5{
  right: 20px;
}
.paw--2,
.paw--4,
.paw--6{
  left: 20px;
}
