<div class="bread-crumbs">
  <ul class="bread-crumbs__list">
      <li class="bread-crumbs__item " routerLink="/adopcion" routerLinkActive="bread-crumbs__item--selected">Datos generales
          <svg class="paw paw--1" width="30" height="30">
              <use xlink:href="../../assets/svg/sprite.svg#paw-01"></use>
          </svg>
      </li>
      <li class="bread-crumbs__item" routerLink="sanitario" routerLinkActive="bread-crumbs__item--selected">Datos sanitarios
          <svg class="paw paw--3" width="30" height="30">
              <use xlink:href="../../assets/svg/sprite.svg#paw-03"></use>
          </svg>
      </li>
      <li class="bread-crumbs__item" routerLink="/adopcion/sanitario/adicional" routerLinkActive="bread-crumbs__item--selected">Datos adicionales
          <svg class="paw paw--5" width="30" height="30">
              <use xlink:href="../../assets/svg/sprite.svg#paw-05"></use>
          </svg>
      </li>
  </ul>
</div>

