<main class="height-100">
  <div class="container">
    <h1 class="h1">Datos Adicionales</h1>
    <form action="..." class="form form--aditional-register">
      <div class="form-group">
        <span>Sexo</span>
        <div class="form-group">
          <label for="r-01" class="form-group__label radio">Hombre
            <input type="radio" id="r-01" name="sex" class="radio__control">
            <span class="radio__custom"></span>
          </label>
          <label for="r-02" class="form-group__label radio">Mujer
            <input type="radio" id="r-02" name="sex" class="radio__control">
            <span class="radio__custom"></span>
          </label>
        </div>
      </div>
      <div class="form-group">
        <label for="tlf" class="form-group__label">Teléfono</label>
        <input type="tel" name="tlf" id="tlf" class="form-group__control">
      </div>
      <div class="form-group">
        <label for="house" class="form-group__label">Tipo de vivienda</label>
        <select id="house" class="form-group__control">
          <option selected>Seleccionar...</option>
          <option value="">Piso</option>
          <option value="">Chalet</option>
        </select>
      </div>
      <fieldset class="form-group align--row">
        <legend class="form-group__label">Interesado en</legend>
        <label for="adoptar" class="form-group__label checkbox">Adoptar
          <input type="checkbox" name="adoptar" id="adoptar" class="checkbox__control">
          <span class="checkbox__custom"></span>
        </label>
        <label for="acoger" class="form-group__label checkbox">Acoger
          <input type="checkbox" name="acoger" id="acoger" class="checkbox__control">
          <span class="checkbox__custom"></span>

        </label>
      </fieldset>
      <fieldset class="form-group align--row">
        <legend class="form-group__label">¿Tienes mascotas?</legend>
        <label for="cat" class="form-group__label checkbox">Gato
          <input type="checkbox" name="cat" id="cat" class="checkbox__control">
          <span class="checkbox__custom"></span>
        </label>
        <label for="dog" class="form-group__label checkbox">Perro
          <input type="checkbox" name="dog" id="dog" class="checkbox__control">
          <span class="checkbox__custom"></span>
        </label>
        <label for="others" class="form-group__label checkbox">Otros
          <input type="checkbox" name="others" id="others" class="checkbox__control">
          <span class="checkbox__custom"></span>
        </label>
      </fieldset>
      <div class="form-group">
        <label for="photo" class="form-group__label">Pon aquí tu foto de perfil</label>
        <image-upload
          [max]="1" [extensions]="['jpeg','png','svg','jpg']"
          buttonCaption="Selecciona la imagen"
          dropBoxMessage="Arrastra la imagen"
          class="customClass"
          >
        </image-upload>
      </div>
      <div class="form-btn--container">
        <button type="submit" class="btn btn--sm">Registrate</button>
      </div>
    </form>
  </div>
</main>
