<main class="height-100">
  <div class="container">
    <h1 class="h1">Perfil</h1>
    <div class="container--protectora" *ngIf="protective$ | async as protective">
      <aside class=" perfil-datos">
       <div class="container__img"> <img class="protective__img" [src]="protective.photo"> </div>
        <ul class="perfil__list">
          <li class="perfil__item">{{protective.name}}</li>
          <li class="perfil__item"> {{protective.country}}, {{protective.city}}</li>
          <li class="perfil__item">{{protective.petsToAdoption}} Animales adopcion</li>
          <li class="perfil__item">{{protective.petsToReception}}  Animales acogida</li>
          <li class="perfil__item">{{protective.email}}</li>
        </ul>
        <ul class="perfil__list--menu">
          <li class="link">Contactar</li>
        </ul>
      </aside>
      <div class="perfil--protectora">
        <div class="historia">
          <h3 class="h3">Sobre nosotros</h3>
          <p class="description">{{protective.description}}</p>
        </div>
        <div class="adopcion">
          <deck-cards>
            <h2 class="h2" title>Mascotas para adoptar</h2>
            <pet-card *ngFor="let pet of pets$ | async" [mascota]="pet"></pet-card>
          </deck-cards>
        </div>
        <div class="acogida">
          <deck-cards>
            <h2 class="h2" title>Mascotas para acoger</h2>
            <pet-card *ngFor="let pet of pets$ | async" [mascota]="pet"></pet-card>
          </deck-cards>
        </div>
      </div>
    </div><!-- //.container--perfil-->
  </div><!-- //.container-->
</main>
