<main class="height-100">
  <div class="container container--pet" *ngIf="pet">
    <h1 class="h1">Perfil Mascota</h1>
    <div class="perfil-pet">
      <div class="pet__media">
        <video class="video" controls  *ngIf="pet.videos" [src]="pet.videos[0]"></video>
          <img [src]="pet.photos[0]"  *ngIf="!pet.videos" alt="imagen principal de la mascota" class="pet__img--l">
          <div class="pet__img--container" *ngFor="let photo of pet.photos; let photoIndex = index" class="pet__img--container">
            <img  [src]="photo" alt="foto de mascota" class="pet__img" (click)="toggleModal(photoIndex)">
          </div>
      </div>
      <div class="pet-info">
        <div class="align--space-between w-100">
          <h3 class="h3">{{pet.name}}</h3>
          <div class="pet-contact">
            <p class="contact__name">{{pet.owner}}</p>
            <a href="mailto:#" class="link" type="submit">Contactame</a>
          </div>
        </div>
        <ul class="pet__list">
          <li class="pet-list__item">{{pet.type}}</li>
          <li class="pet-list__item">{{pet.race}}</li>
          <li class="pet-list__item">{{pet.gender}}</li>
          <li class="pet-list__item">{{pet.city}}, {{pet.country}}</li>
          <li class="pet-list__item">{{pet.activity}}</li>
        </ul>
        <ul class="pet__list">
          <li class="pet-list__item">Salud</li>
          <li class="pet-list__item">{{pet.getSterilized()}}</li>
          <li class="pet-list__item">{{pet.getVaccined()}}</li>
          <li class="pet-list__item">{{pet.getTreatment()}}</li>
          <li class="pet-list__item">{{pet.getChip()}}</li>
        </ul>
        <ul class="pet__list">
          <li class="pet-list__item">Carácter</li>
          <li class="pet-list__item">{{pet.getPlay()}}</li>
          <li class="pet-list__item">{{pet.getEat()}}</li>
          <li class="pet-list__item">{{pet.getSociableWithKids()}}</li>
          <li class="pet-list__item">{{pet.getSociableWithOtherPets()}}</li>
        </ul>
        <p class="pet__description w-100">{{pet.getDescription()}}</p>
      </div>
    </div>
    <modal [nombre]="modalToken">
      <a rol="button" class="modal__close modal__close--xl link" (click)="toggleModal()">&times;</a>
      <svg class="arrow arrow--left" width="50" height="50" (click)="onBeforeIndexPhoto()" alt="Flecha retroceder">
        <use xlink:href="/assets/svg/sprite.svg#arrow"></use>
      </svg>
      <svg class="arrow arrow--right" width="50" height="50" (click)="onAfterIndexPhoto()" alt="Flecha avanzar">
        <use xlink:href="/assets/svg/sprite.svg#arrow"></use>
      </svg>
      <div class="container__img--modal">
     <img [src]="imageSource" alt="Imagen de la mascota" class="pet__img--modal">
    </div>
  </modal>
  </div>




</main>
