<main class="height-100">
  <div class="container container--pet" *ngIf="pet$ | async as pet">
    <h1 class="h1">Perfil Mascota</h1>
    <div class="perfil-pet">
      <div class="pet__media">
        <video class="video" controls src="assets/videos/cloe.mp4"></video>
        <img *ngFor="let photo of photos" [src]="photo" alt="foto de mascota" class="pet__img">

      </div>
      <div class="pet-info">
        <div class="align--space-between w-100">
          <h3 class="h3">{{pet.name}}</h3>
          <div class="pet-contact">
            <p class="contact__name">{{pet.owner}}</p>
            <a href="mailto:#" class="link" type="submit">Contactame</a>
          </div>
        </div>
        <ul class="pet__list">
          <li class="pet-list__item">{{pet.type}}</li>
          <li class="pet-list__item">{{pet.race}}</li>
          <li class="pet-list__item">{{pet.gender}}</li>
          <li class="pet-list__item">{{pet.city}}, {{pet.country}}</li>
          <li class="pet-list__item">{{pet.activity}}</li>
        </ul>
        <ul class="pet__list">
          <li class="pet-list__item">Salud</li>
          <li class="pet-list__item">{{pet.sterilized}}</li>
          <li class="pet-list__item">{{pet.vaccine}}</li>
          <li class="pet-list__item">{{pet.treatment}}</li>
          <li class="pet-list__item">{{pet.chip}}</li>
        </ul>
        <ul class="pet__list">
          <li class="pet-list__item">Carácter</li>
          <li class="pet-list__item">{{pet.pleasures.play}}</li>
          <li class="pet-list__item">{{pet.pleasures.eat}}</li>
          <li class="pet-list__item">{{pet.sociableKids}}</li>
          <li class="pet-list__item">{{pet.sociablePets}}</li>
        </ul>
        <p class="pet__description w-100">{{pet.getDescription()}}</p>
      </div>
    </div>
  </div>
</main>
