@import '../../../scss/partials/px-to-rem';
@import '../../../scss/partials/variables';

.perfil-pet {
  display: flex;
}

.container--pet .h3 {
  display: inline;
}

.pet {
  &__media {
    flex-grow: 1;
    flex-basis: 0;
    width: 30%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__img {
    margin-top: 2px;
    align-self: flex-start;
    width: 33%;
  }

  &-info {
    padding-bottom: 30px;
    flex-grow: 2;
    flex-basis: 0;
    display: flex;
    flex-wrap: wrap;
    padding-left: 1rem;
  }

  &-info .align--space-between {
    width: 100%;
  }

  &-contact::after {
    content: '';
    display: block;
    clear: both;
  }

  &-list__item {
    padding: 5px 0;
  }

  &__list {
    padding: 15px 20px;

    &:first-of-type {
      margin-left: -20px;
    }

    &__item {
      padding-bottom: 5px;
    }
  }

  &-list__item,
  &__description {
    color: $color-text-default;
  }

  &__description {
    font-size: rem(14px);
    line-height: 1.8;
  }

  &-list__item:nth-of-type(1) {
    font-family: $ff-title;
    text-transform: uppercase;
    color: $grey-0;
    font-weight: 600;
    line-height: 1.4;
  }
}

.video {
  width: 100%;
  min-height: rem(300px);
  outline: 0;
}

.contact__name {
  font-family: $ff-title;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 10px;

  &::before {
    content: '';
    float: left;
    background-image: url(../../../assets/svg/girl.svg);
    background-size: contain;
    height: rem(70px);
    width: rem(70px);
    margin-right: 10px;
  }
}
