<form  action="" #formSearch="ngForm" (ngSubmit)="onSubmit(formSearch)" class="form search-bar">
  <input
  type="text"
  [(ngModel)]="model.text"
  name="text"
  class="form-group__control form-group__control--search-bar"
  placeholder="Busco un gato siamés...">

  <angular2-multiselect
    [data]="countries"
    [(ngModel)]="model.country"
    [settings]="dropdownCitiesSettings"
    name="country">
  </angular2-multiselect>

  <angular2-multiselect
    [data]="cities"
    [(ngModel)]="model.city"
    [settings]="dropdownCitiesSettings"
    name="city">
  </angular2-multiselect>

  <button type="submit" class="btn btn--search-bar">Buscar</button>
</form>
