@import '../../../scss/partials/variables';


.search-bar{
  display: inline-flex;
  flex-wrap: nowrap;
  align-items: stretch;
  justify-content: flex-end;
  max-width: 80%;
  border: 1px solid $color-primary;
  border-radius: 4px;
  margin-bottom: 20px;
  padding: 0;
  margin-left: 0px;
}

.form-group__control--search-bar{
  border: 0;
  background-color: transparent;
  outline: none;
  border-radius: 0;
  border-right: 1px solid $color-primary;
  height: auto;
  width: auto;
}

.btn--search-bar{
  border-radius: 0;
  transition: background-color 0.3s;
  &:hover{
    background-color: darken( $color-primary, 15%);
  }
}

