<form  action="" #formSearch="ngForm" (ngSubmit)="onSubmit(formSearch)" class="form search-bar">
  <input
  *ngIf="typingNow"
  type="text"
  [(ngModel)]="model.text"
  name="text"
  class="form-group__control form-group__control--search-bar"
  placeholder={{typingNow}}
  autocomplete="off">

  <angular2-multiselect
    [data]="countries"
    [(ngModel)]="model.country"
    [settings]="dropdownCountriesSettings"
    (onDeSelectAll)="onDeSelectAll(model, 'country')"
    name="country">
  </angular2-multiselect>

  <angular2-multiselect
    [data]="cities"
    [(ngModel)]="model.city"
    [settings]="dropdownCitiesSettings"
    (onDeSelectAll)="onDeSelectAll(model, 'city')"
    name="city">
  </angular2-multiselect>

  <button type="submit" class="btn btn--search-bar">Buscar</button>
</form>
