@import '../../../scss/partials/variables';



.search-bar{
  display: block;
  width: 100%;
  border: 1px solid $color-primary;
  margin: 0 auto;
}

.form-group__control--search-bar{
  border: 0;
  outline: none;
  width: 100%;
  border-radius: 0;
}

.btn--search-bar{
  width: 100%;
  border-radius: 0;
}


@media (min-width: 1024px) {

.search-bar{
  display: inline-flex;
  width: initial;
  flex-wrap: nowrap;
  align-items: stretch;
  justify-content: flex-end;
  max-width: 80%;
  border-radius: 4px;
  margin-bottom: 20px;
  padding: 0;
  margin-left: 0px;
}

.form-group__control--search-bar{
  border: 0;
  background-color: transparent;
  outline: none;
  padding: 0 10px;
  border-radius: 0;
  border-right: 1px solid $color-primary;
  height: auto;
  width: auto;
}

.btn--search-bar{
  width: initial;
  border-radius: 0;
  transition: background-color 0.3s;
  &:hover{
    background-color: darken( $color-primary, 15%);
  }
}

}
