@import '../../../../scss/partials/variables';
@import '../../../../scss/partials/px-to-rem';


.card{
  align-self:center;
  justify-self: start;
  box-shadow: $box-shadow;
  max-width: rem(250px);
  position: relative;
  cursor:pointer;
  transition: transform 0.2s;

  &:hover{
    box-shadow: $box-shadow-hover;
    transform:scale(1.07);
  }
  &__header{
    padding: 10px 20px;
  }
  &__body{
    padding: 8px 0 22px 20px;
    position: relative;
    background-color: $grey-100;
  }
  &__title{
    font-size: 1.2rem;
  }
  &__info{
    color: $color-text-secondary;
    line-height: 1.5;
  }
}
.ubic-card {
  color: $color-text-default;

}

