<a [routerLink]="['/protectora', protectora.id]">
  <article class="card">
    <img class="card__img" [src]="protectora.photo" alt="Animal en adopción">
    <div class="card__header">
      <h3 class="h3 card__title">{{protectora.name}}</h3>
      <span class="ubic-card">
        {{protectora.country}}, {{protectora.city}}
        <svg class="card__icon icon--ubic" width="20" height="20" alt="Icono ubicación">
          <use xlink:href="../../assets/svg/sprite.svg#ubic"></use>
        </svg>
      </span>
    </div>
    <div class="card__body">
      <ul class="card__info">
        <li>{{protectora.petsToAdoption}} Mascotas en adopción</li>
      </ul>
    </div>
  </article>
</a>
