    <h2 class="h2">Datos sanitarios</h2>
    <form action="..." class="form form--adopcion-sanitario">
      <fieldset class="from-group form-group--checkbox">
        <legend class="form-group__title">Estado</legend>
        <label class="form-group__label checkbox">Desparasitado
          <input type="checkbox" id="r-01" name="health" class="checkbox__control">
          <span class="checkbox__custom"></span>
        </label>
        <label class="form-group__label checkbox">Vacunado
          <input type="checkbox" id="r-02" name="health" class="checkbox__control">
          <span class="checkbox__custom"></span>
        </label>
        <label class="form-group__label checkbox">Sano
          <input type="checkbox" id="r-01" name="health" class="checkbox__control">
          <span class="checkbox__custom"></span>
        </label>
        <label class="form-group__label checkbox">Esterilizado
          <input type="checkbox" id="r-01" name="health" class="checkbox__control">
          <span class="checkbox__custom"></span>
        </label>
        <label class="form-group__label checkbox">Cartilla
          <input type="checkbox" id="r-01" name="health" class="checkbox__control">
          <span class="checkbox__custom"></span>
        </label>
        <label class="form-group__label checkbox">Microchip
          <input type="checkbox" id="r-01" name="health" class="checkbox__control">
          <span class="checkbox__custom"></span>
        </label>
      </fieldset>
      <fieldset class="from-group form-group--checkbox">
        <legend class="form-group__title">Alergias y enfermedades</legend>
        <label class="form-group__label checkbox">Leishmania
          <input type="checkbox" id="r-01" name="health" class="checkbox__control">
          <span class="checkbox__custom"></span>
        </label>
        <label class="form-group__label checkbox">En tratamiento
          <input type="checkbox" id="r-02" name="health" class="checkbox__control">
          <span class="checkbox__custom"></span>
        </label>
        <label class="form-group__label checkbox">Inmunodeficiencia
          <input type="checkbox" id="r-01" name="health" class="checkbox__control">
          <span class="checkbox__custom"></span>
        </label>
        <label class="form-group__label checkbox">Leucemia
          <input type="checkbox" id="r-01" name="health" class="checkbox__control">
          <span class="checkbox__custom"></span>
        </label>
        <label class="form-group__label checkbox">Alergias
          <input type="checkbox" id="r-01" name="Alergias" class="checkbox__control">
          <span class="checkbox__custom"></span>
          <textarea class="textarea form-group__control"
            placeholder="Es alérgico a los frutos secos, tiene alergia a la lana..."></textarea>
        </label>
      </fieldset>

      <div class="form-btn--container">
        <button type="submit" class="btn">Datos adicionales...</button>
      </div>
    </form>
