.form--adopcion-sanitario{
  display: flex;
}
.form-group--checkbox{
  flex-basis: 49%;
}
.checkbox{
  display: inline-block;
  width: 50%;
}

.form-group--checkbox .textarea{
  margin-top: 10px;
  opacity: 0;
  transition: opacity 0.2s;
  cursor: default;
}
input[name="allergy"]:checked ~.textarea{
  opacity: 1;
  cursor: initial;
}
