@import '../../../../scss/partials/variables';


.logo {
  position: relative;
  font-family: $ff-title;
  font-size: 1.7rem;
  color: $grey-100;
  text-transform: uppercase;
  margin-left: 19px;
  margin-top: 8px;

  &__icon {
    position: absolute;
    left: -18px;
    top: -24px;
    transform: rotate(30deg);
  }

  &__text {
    position: absolute;
    visibility: hidden;
  }
}


@media (min-width: 1024px) {
  :host{
    margin-left: 0;
  }


  .logo{
    font-size: 1.5rem;

    &__icon {
      position: absolute;
      left: -20px;
      top: -10px;
      transform: rotate(30deg);
    }

    &__text {
      position: relative;
      visibility: visible;
      z-index: 5;
    }

  }

}
