@import '../../../../scss/partials/variables';
@import '../../../../scss/partials/px-to-rem';


.header{
  background-color: $color-primary;
  height: rem(60px);

  & .align--space-between{
  height: 100%;
  }
}
