@import '../../../../../scss/partials/variables';

.header__link--logged{
  color:$grey-100;
  font-size: 1rem;
  transition: background-color 0.3s;

  &::after{
    margin-left: 5px;
    content: '▼';
  }
}
.logged{
  position: relative;

  &__dropdown{
    border: 1px solid $color-primary;
    position: absolute;
    z-index: 5;
    left: 0;
    right: 0;
    box-shadow: $box-shadow;
  }
}
.dropdown__item{
  background-color: $grey-100;
  padding: 10px;
  display: block;
  color: $color-primary;
  transition: all 0.2s;
  cursor: pointer;

  &:hover{
    background-color: $grey-95;
    color: $color-secondary;
  }
}
