<div class="logged">
    <button type="button" class="header__link--logged btn" (click)="showMenu()">Bienvenida, Tania</button>
    <ul class="logged__dropdown" [ngClass]="{'dropdown--shown': isMenuShown===true }">
        <li><a routerLink="perfil"   class="dropdown__item">Mi perfil</a></li>
        <li><a routerLink="protectoras"   class="dropdown__item">Protectoras</a></li>
        <li><a routerLink="adopcion"   class="dropdown__item">Adopcion</a></li>
        <li><a class="dropdown__item">Cerrar sesión</a></li>
    </ul>
</div>
