@import '../../../scss/partials/px-to-rem';

.h2{
    margin-right: 10px;
    margin-bottom: 30px;
}

.result-search{
  margin-bottom: 30px;
}
.cards--container{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(rem(265px), 1fr));
  row-gap: 20px;
}
