<main class="height-100">
  <h1 class="h1">¿Quien eres?</h1>
  <div class="align--row">
    <aside class="protective">
      <h2 class="h2">Soy una protectora</h2>
      <a routerLink="/registro-protectora" class="align--center">
        <svg class="protective-icon">
          <use xlink:href="/assets/svg/sprite.svg#protectora"></use>
        </svg>
      </a>
    </aside>
    <aside class="user">
      <h2 class="h2">Soy un usuario</h2>
      <a routerLink="/registro-usuario" class="align--center">
        <svg class="user-icon">
          <use xlink:href="/assets/svg/sprite.svg#icon-boy"></use>
        </svg>
      </a>
    </aside>
  </div>
</main>
