.height-100 {
  min-height: 100vh;
}

.align--row {
  display: block;
}

.protective,
.user {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}


@media (min-width: 1024px) {


  .align--row {
    display: flex;
    height: 70%;
    align-items: center;
  }

  .protective,
  .user {
    flex: 1 0 50%;
    height: 100%;
    margin-bottom: 0;
  }

  .user-icon,
  .protective-icon {
    cursor: pointer;
    transition: filter 0.3s;
  }

  .user-icon:hover,
  .protective-icon:hover {
    filter: brightness(120%);

  }

}
