@import '../../../scss/partials/variables';
@import '../../../scss/partials/px-to-rem';

.form--register {
  border-bottom: 1px solid $color-border-bottom;
  padding-bottom: 20px;
}

.form-group__control--age {
  max-width: rem(100px);
}
.btn--sm {
  padding: 10px 15px;
}
//TODO: Hacer el formulario de protectora con transform.
.form--protector {
  margin-top: 10px;
  margin-left: -19px;
  height: 0;
  overflow: hidden;
  transition: height 0.7s;
}

.form-group__control--protectora:checked~.form--protector {
  height: 300px;
  overflow: visible;
}

.btn--fb {
  position: relative;
  display: inline-block;
  margin-top: 20px;
  padding: 15px 50px 15px 20px;
  background-color: $color-button-fb;
  font-family: 'Roboto Condensed', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.2rem;

  &::after {
    content: '';
    height: 30px;
    width: 30px;
    position: absolute;
    top: 9px;
    right: 12px;
    background-color: $color-button-fb;
    background-image: url(../../../assets/svg/facebook.svg);
  }
}
