@import '../../../scss/partials/px-to-rem';
@import '../../../scss/partials/variables';

.container--perfil {
  display: flex;
  flex-wrap: wrap;
}

.h2 {
  margin-top: 0;
}

.perfil-datos {
  width: 25%;
}

.img {
  height: rem(250px);
  width: rem(200px);
  background-color: $grey-95;
  margin-bottom: 20px;
  position: relative;

  &__change {
    position: absolute;
    background-color: transparent;
    top: -20px;
    outline: 0;
    border: 0;
    left: -10px;
    cursor: pointer;
    width: rem(50px);
    height: rem(50px);
    background-image: url(../../../assets/svg/camera.svg);
    background-size: contain;
    background-repeat: no-repeat;
  }
}

.h3--perfil {
  color: $color-default;
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.perfil {
  &__item {
    color: $color-text-default;
    padding: 5px 0;
  }

  &__list--menu {
    margin: 20px 0;

    & .link {
      padding: 5px 0;
    }
  }
}

.logros {
  position: relative;

  & .perfil__list {
    padding-left: 100px;
  }

  &::before {
    content: '';
    position: absolute;
    bottom: 18px;
    width: rem(80px);
    height: rem(80px);
    background-image: url(../../../assets/svg/silver.svg);
    background-size: contain;
    background-repeat: no-repeat;
  }
}

.perfil--mascotas {
  flex: 1 0 70%;
}

.favoritos {
  margin-bottom: 50px;
}
