<main class="height-100">
  <div class="container" *ngIf="person$ | async as person">
    <h1 class="h1 h1--perfil">Perfil</h1>
    <div class="container--perfil" >
      <aside class="perfil-datos">
        <a routerLink="/registro-usuario">
        <div class="img" >
          <button type="button" class="img__change"></button>
        </div>
      </a>
        <h3 class="h3 h3--perfil">Datos de perfil</h3>
        <ul class="perfil__list">
          <li class="perfil__item">{{person.name}} {{person.surname}}</li>
          <li class="perfil__item">{{person.country}}, {{person.city}}</li>
          <li class="perfil__item">{{person.age}} años</li>
          <li class="perfil__item">{{person.email}}</li>
        </ul>
        <ul class="perfil__list--menu" *ngIf="isThisUser">
          <li class="link">Cambiar contraseña</li>
          <li class="link">Cambiar datos personales</li>
          <li class="link" (click)="clearLogin()">Cerrar sesión</li>
        </ul>
        <div class="logros">
          <h3 class="h3 h3--perfil">Logros</h3>
          <ul class="perfil__list">
            <li class="perfil__item">Medalla de <span class="bold">plata</span></li>
            <li class="perfil__item">{{person.adoptions}} Adopciones</li>
            <li class="perfil__item">{{person.receptions}} Acogidas</li>
            <li class="perfil__item">{{person.inAdoption}} Animales en adopción</li>
          </ul>
        </div>
      </aside>
      <div class="perfil--mascotas">
        <div class="favoritos">
          <deck-cards>
            <h2 class="h2" title>Favoritos</h2>
            <pet-card>
            </pet-card>
          </deck-cards>
        </div>
        <deck-cards>
          <h2 class="h2" title>Tus animales en adopción</h2>
          <pet-card>
            <a removeButton class="link">Eliminar mascota</a>
          </pet-card>
        </deck-cards>
      </div>
    </div>
  </div>
</main>
