<main class="height-100">
  <div class="container">
    <h1 class="h1 h1--perfil">Perfil</h1>
    <div class="container--perfil">
      <aside class="perfil-datos">
        <div class="img">
          <button type="button" class="img__change"></button>
        </div>
        <h3 class="h3 h3--perfil">Datos de perfil</h3>
          <ul class="perfil__list">
            <li class="perfil__item">Tania Gam Gonz</li>
            <li class="perfil__item">Parla, Madrid</li>
            <li class="perfil__item">25 años</li>
            <li class="perfil__item">tania@hotmail.es</li>
          </ul>
          <ul class="perfil__list--menu">
            <li class="link">Cambiar foto de perfil</li>
            <li class="link">Cambiar contraseña</li>
            <li class="link">Cambiar datos personales</li>
            <li class="link">Cerrar sesión</li>
          </ul>
          <div class="logros">
            <h3 class="h3 h3--perfil">Logros</h3>
            <ul class="perfil__list">
              <li class="perfil__item">Medalla de <span class="bold">plata</span></li>
              <li class="perfil__item">3 Adopciones</li>
              <li class="perfil__item">2 Acogidas</li>
              <li class="perfil__item">2 Animales en adopción</li>
            </ul>
          </div>
      </aside>
      <div class="perfil--mascotas">
        <div class="favoritos">
          <deck-cards></deck-cards>
        </div>
        <deck-cards></deck-cards>
      </div>
    </div>
  </div>
</main>
