@import '../../../scss/partials/px-to-rem';
@import '../../../scss/partials/variables';


.container--login {
  display: flex;
  flex-direction: column;

  & .align--column {
    align-items: flex-start;
  }
}

.form__login {
  border-bottom: 1px solid $color-border-bottom;
}

.form-group--login {
  position: relative;
}

.form-group__control--login {
  padding: 0 17px 5px;
}

.form-group__label--inside {
  position: absolute;
  transform: translate(15px, -48px);
  background-color: $grey-100;
  padding: 0 3px;
  color: $color-text-secondary;
  background-color: $grey-100;
  font-size: 0.8rem;
  transition: all 0.3s;
}

.form-group__control--login:placeholder-shown~.form-group__label--inside {

  position: absolute;
  font-size: 1rem;
  transform: translate(19px, -28px);
  color: $color-text-disabled;
}
.form-group__label--outside {
  position: absolute;
  font-size: 1rem;
  transform: translate(19px, -28px);
  color: $color-text-disabled;
}
.btn--sm {
  max-width: 8rem;
  margin: 20px 0;
}
.btn--fb {
  position: relative;
  margin: 20px 0;
  align-self: flex-start;
  padding: 15px 50px 15px 20px;
  background-color: $color-button-fb;
  font-family: $ff-title;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.2rem;

  &:hover{
    background-color: darken($color-button-fb, 15%);

    &::after{
      background-color: darken($color-button-fb, 15%);
    }
  }

  &::after {
    content: '';
    height: rem(30px);
    width: rem(30px);
    position: absolute;
    top: 9px;
    right: 12px;
    background-color: $color-button-fb;
    background-image: url(../../../assets/svg/facebook.svg);
  }
}
.link--login {
  margin-left: 5px;
}
