<main class="height-100">
  <div class="container container--login">
    <!--Formulario de logeo-->
    <h1 class="h1">Login</h1>
    <form action="..." class="form__login">
      <div class="form-group form-group--login">
        <input type="email" name="email" id="email" placeholder=" "
          class="form-group__control form-group__control--login">
        <label for="email" class="form-group__label form-group__label--inside">Introduce tu
          correo</label>
      </div>
      <div class="form-group form-group--login">
        <input type="password" name="password" id="password" placeholder=" "
          class="form-group__control form-group__control--login">
        <label for="password" class="form-group__label form-group__label--inside">Introduce tu
          contraseña</label>
      </div>
      <div class="align--column">
        <a class="link" (click)="toggleModal()">¿Has olvidado tu contraseña?</a>
        <button type="submit" class="btn btn--sm">Inicia sesión</button>
      </div>
    </form>
    <a href="#" class="btn btn--fb" role="button">Inicia sesión con</a>
    <div class="align--row">
      <span>¿Todavía no tienes una cuenta?</span>
      <a routerLink='/registro'  class="link link--login">Regístrate</a>
    </div>
  </div>
</main>

<modal></modal>
