<article class="card">
  <img class="card__img" src="/assets/svg/cloe.svg" alt="Animal en adopción">
  <div class="card__header">
      <h3 class="h3 card__title">Cloe</h3>
      <span class="ubic-card">
          Madrid
          <svg class="card__icon icon--ubic" width="20" height="20" alt="Icono ubicación">
              <use xlink:href="/assets/svg/sprite.svg#ubic"></use>
          </svg>
      </span>
  </div>
  <div class="card__body">
      <ul class="card__info">
          <li>5 Años</li>
          <li>Bien de salud</li>
      </ul>
  </div>
  <svg class="card__icon icon--heart" width="40" height="40" alt="Corazón de favoritos">
      <use xlink:href="/assets/svg/sprite.svg#heart"></use>
  </svg>
</article>
