
  <article class="card">
    <a [routerLink]="['/mascota', mascota._id]">
   <img class="card__img" [src]="mascota.photos[0]" alt="Animal en adopción guay">
  </a>
    <div class="card__header">
      <h3 class="h3 card__title">{{mascota.name}}</h3>
      <span class="ubic-card">
        {{mascota.country}}, {{mascota.city}}
        <svg class="card__icon icon--ubic" width="20" height="20" alt="Icono ubicación">
          <use xlink:href="/assets/svg/sprite.svg#ubic"></use>
        </svg>
      </span>
    </div>
    <div class="card__body">
      <ul class="card__info">
        <li>{{mascota.age}}</li>
        <li>{{mascota.health}}</li>
        <li>{{mascota.cosa}}</li>
      </ul>
      <ng-content select="[removeButton]"></ng-content>
    </div>
    <div *ngIf="isLogged">
    <svg (click)="setFavourite()" class="card__icon icon--heart" width="40" height="40" alt="Corazón de favoritos"
    *ngIf="isFavourite else elseBlock">
      <use xlink:href="/assets/svg/sprite.svg#heart-color"></use>
    </svg>
    <ng-template #elseBlock>
      <svg (click)="setFavourite()" class="card__icon icon--heart icon--heart-grey" width="40" height="40" alt="Corazón de favoritos">
        <use xlink:href="/assets/svg/sprite.svg#heart"></use>
      </svg>
    </ng-template>
  </div>
  </article>

