@import '../../../../scss/partials/variables';

.container{
  width: initial;
}
.footer {
  padding: 20px 25px ;
  background-color: $color-primary;
  color: $grey-100;
  margin-top: 20px;

  & .align--row {
    justify-content: space-around;
  }

  &__list {
    margin: 15px 0 15px 20px;
  }

  &__item {
    padding: 15px;

  }

  &__link {
    font-family: $ff-title;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 0.8rem;
    letter-spacing: 1px;
    color: $grey-100;

  }


}


@media (min-width: 1024px) {

  .footer {
    margin-top: 0;

    &__list {
      margin: 10px 0;
      display: flex;
    }

    &__item {

      &:first-of-type {
        padding-left: 0px;
      }

      &:last-of-type {
        padding-right: 0px;
      }
    }

    &__link {
      cursor: pointer;
      color: $grey-100;
      transition: color 0.2s;

      &:hover {
        color: $color-secondary;
      }
    }
  }
}
