<footer class="footer">
  <div class="container">
      <div class="align--space-between">
       <app-logo></app-logo>
          <ul class="footer__list">
              <li class="footer__item"><a href="#" class="footer__link">Inicio</a></li>
              <li class="footer__item"><a href="#" class="footer__link">Nueva mascota</a></li>
              <li class="footer__item"><a href="#" class="footer__link">Protectoras</a></li>
              <li class="footer__item"><a href="#" class="footer__link">Contacto</a></li>
          </ul>
          <ul class="footer__list">
              <li class="footer__item"><a href="#" class="footer__link">Politica de privacidad</a></li>
              <li class="footer__item"><a href="#" class="footer__link">Terminos y condiciones de uso</a></li>
              <li class="footer__item"><a href="#" class="footer__link">Cookies</a></li>
          </ul>
      </div>
  </div>
</footer>

