      <h2 class="h2">Datos generales del animal</h2>
      <form #petForm="ngForm" class="form form--adopcion" (ngSubmit)="onSubmit(petForm)">
        <div class="form-group">
          <label for="nameAnimal" class="form-group__label">Nombre</label>
            <tooltip *ngIf="name?.touched && !name?.valid">El nombre es obligatorio!</tooltip>
          <input autocomplete="off" type="text" id="nameAnimal" class="form-group__control" required [(ngModel)]="pet.name" #name="ngModel" name="name"
          [ngClass]="{'form-group__control--success': name?.touched && name?.valid, 'form-group__control--danger': name?.touched && !name?.valid }">
        </div>
        <div class="form-group">
          <label for="typeAnimal" class="form-group__label" >Tipo
            de animal</label>
            <tooltip *ngIf="type?.touched && !type?.valid">El tipo es obligatorio!</tooltip>
          <input autocomplete="off"  type="text" id="typeAnimal" class="form-group__control" required  [(ngModel)]="pet.type" #type="ngModel" name="type" placeholder="Gato"
          [ngClass]="{'form-group__control--success': type?.touched && type?.valid, 'form-group__control--danger': type?.touched && !type?.valid }">
        </div>
        <div class="form-group">
          <label for="raceAnimal" class="form-group__label" >Raza
            del animal</label>
            <tooltip *ngIf="race?.touched && !race?.valid">La raza no es válida</tooltip>
          <input autocomplete="off"  type="text" placeholder="Siamés" id="raceAnimal" class="form-group__control"   [(ngModel)]="pet.race" #race="ngModel" name="race"
          [ngClass]="{'form-group__control--success': race?.touched && race?.valid, 'form-group__control--danger': race?.touched && !race?.valid }">
        </div>

        <div class="form-group">
          <span>Sexo</span>
          <div class="form-group">
            <label for="r-01" class="form-group__label radio">Macho
              <input type="radio" id="r-01" class="radio__control" value="Macho"[(ngModel)]="pet.gender" #genderMale="ngModel" name="genderMale">
              <span class="radio__custom"></span>
            </label>
            <label for="r-02" class="form-group__label radio">Hembra
              <input type="radio" id="r-02"  class="radio__control" value="Hembra" [(ngModel)]="pet.gender" #genderFemale="ngModel" name="genderFemale">
              <span class="radio__custom"></span>
            </label>
          </div>
        </div>
        <div class="form-group">
          <label for="state" class="form-group__label">Estado</label>
          <angular2-multiselect
          [data]="petHealth"
          [(ngModel)]="pet.health"
          [settings]="dropdownHealthSettings"
          name="health">
        </angular2-multiselect>
        </div>
        <div class="form-group form-group--sm">
          <label for="ageAnimal" class="form-group__label" >Edad
            (aproximadamente)</label>
          <div class="d-flex">
            <input type="number" id="ageAnimal" [(ngModel)]="pet.agePet" class="form-group__control  form-group__control--sm" name ="ageAnimal">
            <angular2-multiselect
            [data]="petAge"
            [(ngModel)]="pet.age"
            [settings]="dropdownAgeSettings"
            name="age">
          </angular2-multiselect>
          </div>
        </div>
        <div class="form-group">
          <label for="size" class="form-group__label">Tamaño</label>
          <angular2-multiselect
          [data]="petSize"
          [(ngModel)]="pet.size"
          [settings]="dropdownSizeSettings"
          name="size">
        </angular2-multiselect>
        </div>
        <div class="form-group">
          <label for="activity" class="form-group__label">Nivel de actividad</label>
          <angular2-multiselect
          [data]="petActivity"
          [(ngModel)]="pet.activity"
          [settings]="dropdownActivitySettings"
          name="activity">
        </angular2-multiselect>
        </div>
        <div class="form-group">
          <label for="weight" class="form-group__label">Peso</label>
          <input type="number" name="weight" id="weight" class="form-group__control" [(ngModel)]="pet.weight" #weight="ngModel" >
        </div>
        <div class="form-group">
          <label for="comunidad" class="form-group__label">Comunidad</label>
          <angular2-multiselect
          [data]="countries"
          [(ngModel)]="pet.country"
          [settings]="dropdownCountrySettings"
          name="country">
        </angular2-multiselect>
        </div>
        <div class="form-group">
          <label for="ciudad" class="form-group__label">Ciudad</label>
          <angular2-multiselect
          [data]="cities"
          [(ngModel)]="pet.city"
          [settings]="dropdownCitySettings"
          name="city">
        </angular2-multiselect>
        </div>
        <div class="form-group ">
          <label class="form-group__label checkbox">Necesita licencia PPP
            <input type="checkbox" name="license" id="license" class="checkbox__control " [(ngModel)]="pet.license" #license="ngModel"  value="Necesita PPP" name="license">
            <span class="checkbox__custom"></span>
          </label>
        </div>
        <div class="form-group form-group--xl">
          <label for="info" class="form-group__label">Información adicional</label>
          <textarea name="info" id="" cols="30" rows="10" class="form-group__control textarea"
            placeholder="Come mucho, no le gusta el agua, le gusta jugar, es más activo por las noches..." [(ngModel)]="pet.description" #description="ngModel" name="description"></textarea>
        </div>
        <div class="form-group form-group--content">
          <image-upload [extensions]="['jpeg','png','svg','jpg', 'mp4']" buttonCaption="Selecciona la imagen o video"
            dropBoxMessage="Arrastra la imagen o video" [clearButtonCaption]="'Borrar todo'"  class="drag-and-drop">
          </image-upload>

        </div>
        <div class="form-btn--container">
          <button type="submit" class="btn"   [disabled]="petForm.invalid">Datos
            sanitarios...</button>
        </div>
      </form>
