<main class="height-100">
  <div class="container container--protective">
    <h1 class="h1 h1--protective">Nuestras protectoras</h1>
    <p>Estas son las protectoras que colaboran con nuestra web, puedes buscarlas por su nombre, o filtrarlas por
      localización.</p>
    <form action="" class="form form-protective">
      <input type="text" class="form-group__control form-group__control--protective">
      <select id="ciudad" class="form-group__control form-group__control--protective">
        <option selected>¿Donde?</option>
        <option value="">....</option>
        <option value="">....</option>
      </select>
      <button type="submit" class="btn btn--protective">Buscar</button>
    </form>
    <section class="result-search">
      <deck-cards>
        <h2 class="h2" title>Tus resultados</h2>
        <protective-card></protective-card>
      </deck-cards>
    </section>
    </div>
</main>
