<main class="height-100">
  <div class="container container--protective">
    <h1 class="h1 h1--protective">Nuestras protectoras</h1>
    <p class="info-search">Estas son las protectoras que colaboran con nuestra web, puedes buscarlas por su nombre, o filtrarlas por
      localización.</p>
      <search-bar></search-bar>
    <section class="result-search">
      <deck-cards>
        <h2 class="h2" title>Tus resultados</h2>
        <protective-card *ngFor="let protective of protectives$ | async" [protectora]="protective"></protective-card>
      </deck-cards>
    </section>
    </div>
</main>
