<main class="height-100">
  <div class="container container--home">
    <h1 class="h1 h1--home">¿Qué mascota buscas?</h1>
    <search-bar>
      <app-dropdown
      [dropdownList]="optionAdopcion"
      [showCheckbox]="false"
      [enableSearchFilter]="false"
      [text]="'¿Buscas adoptar o acoger?'"
      [classes]="search-bar" class="form-group__control--search-bar"></app-dropdown>

    </search-bar>
    <deck-cards>
      <h2 class="h2" title>Nuevos reclutas</h2>
      <a href="#" class="link" title>Ver más reclutas...</a>
      <pet-card></pet-card>
    </deck-cards>
  </div>
</main>
