    <h2 class="h2">Datos adicionales</h2>
    <form #petAditionalForm="ngForm" class="form form--adopcion-adicional">
      <fieldset class="from-group form-group--checkbox">
        <legend class="form-group__title">Caracter</legend>
        <span class="form-group__label">Sociable con</span>
        <label class="form-group__label checkbox">Niños
          <input type="checkbox" id="sociableKids"   [(ngModel)]="pet.isSociableKids" #isSociableKids="ngModel" name="isSociableKids" class="checkbox__control" >
          <span class="checkbox__custom"></span>
        </label>
        <label class="form-group__label checkbox">Gente
          <input type="checkbox" id="sociablePeople"   [(ngModel)]="pet.isSociablePeople" #isSociablePeople="ngModel" name="isSociablePeople" class="checkbox__control">
          <span class="checkbox__custom"></span>
        </label>
        <label class="form-group__label checkbox">Animales de su especie
          <input type="checkbox" id="sociablePets"   [(ngModel)]="pet.isSociablePets" #isSociablePets="ngModel" name="isSociablePets" class="checkbox__control">
          <span class="checkbox__custom"></span>
        </label>
        <label class="form-group__label checkbox">Animales de otras especies
          <input type="checkbox" id="sociableOtherAnimals"   [(ngModel)]="pet.isSociableOtherAnimals" #isSociableOtherAnimals="ngModel" name="isSociableOtherAnimals" class="checkbox__control">
          <span class="checkbox__custom"></span>
        </label>
        <div class="align--row">
        <div class="form-group mt-20">
          <label for="Independencia" class="form-group__label">Independencia</label>
          <angular2-multiselect
          [data]="petIndependence"
          [(ngModel)]="pet.Independence"
          [settings]="dropdownIndependenceSettings"
          name="independence">
        </angular2-multiselect>
    </div>
        <div class="form-group">
          <label for="ruido" class="form-group__label">
            Ruido
          </label>
          <angular2-multiselect
          [data]="petNoise"
          [(ngModel)]="pet.noise"
          [settings]="dropdownNoiseSettings"
          name="noise">
        </angular2-multiselect>
        </div>
        </div>
      </fieldset>
      <fieldset class="from-group form-group--checkbox">
        <legend class="form-group__title">Gustos</legend>
        <label class="form-group__label checkbox">Jugar
          <input type="checkbox" id="play"  [(ngModel)]="pet.pleasures.Play" #play="ngModel" name="play" class="checkbox__control">
          <span class="checkbox__custom"></span>

        </label>
        <label class="form-group__label checkbox">Comer
          <input type="checkbox" id="eat"  [(ngModel)]="pet.pleasures.Eat" #eat="ngModel" name="eat" class="checkbox__control">
          <span class="checkbox__custom"></span>

        </label>
        <label class="form-group__label checkbox">Escaparse
          <input type="checkbox" id="scape"  [(ngModel)]="pet.pleasures.scape" #escape="ngModel" name="escape" class="checkbox__control">
          <span class="checkbox__custom"></span>


        </label>
        <label class="form-group__label checkbox">Pasear
          <input type="checkbox" id="takeAWalk"  [(ngModel)]="pet.pleasures.TakeAWalk" #takeAWalk="ngModel" name="takeAWalk" class="checkbox__control">
          <span class="checkbox__custom"></span>


        </label>
        <label class="form-group__label checkbox">Dormir
          <input type="checkbox" id="sleep"  [(ngModel)]="pet.pleasures.Sleep" #sleep="ngModel" name="sleep" class="checkbox__control">
          <span class="checkbox__custom"></span>


        </label>
        <label class="form-group__label checkbox">Ir en coche
          <input type="checkbox" id="car"  [(ngModel)]="pet.pleasures.car" #car="ngModel" name="car" class="checkbox__control">
          <span class="checkbox__custom"></span>
        </label>
        <label class="form-group__label checkbox">Bañarse
          <input type="checkbox" id="bath"  [(ngModel)]="pet.pleasures.bath" #bath="ngModel" name="bath" class="checkbox__control">
          <span class="checkbox__custom"></span>
        </label>
      </fieldset>
      <div class="form-group motivoAdopcion">
        <label for="motivoAdopcion" class="form-group__label">
          ¿Motivo de la adopcion?
        </label>
        <angular2-multiselect
        [data]="reasonAdoption"
        [(ngModel)]="pet.reason"
        [settings]="dropdownReasonSettings"
        name="reason">
      </angular2-multiselect>
    </div>
      <div class="form-btn--container">
        <button routerLink="/adopcion/sanitario"  class="btn btn--return"><span class="left-arrow">&#8592;</span>Volver atrás </button> <button type="submit" class="btn">Enviar!</button>
      </div>
    </form>
