<main class="height-100">
  <div class="container container--adopcion-adicional">
    <h1 class="h1 h1--adopcion">Dar en adopción</h1>
    <bread-crumbs></bread-crumbs>
    <h2 class="h2">Datos adicionales</h2>
    <form action="..." class="form form--adopcion-adicional">
      <fieldset class="from-group form-group--checkbox">
        <legend class="form-group__title">Caracter</legend>
        <span class="form-group__label">Sociable con</span>
        <label class="form-group__label checkbox">Niños
          <input type="checkbox" id="r-02" name="health" class="checkbox__control">
          <span class="checkbox__custom"></span>

        </label>
        <label class="form-group__label checkbox">Gente
          <input type="checkbox" id="r-01" name="health" class="checkbox__control">
          <span class="checkbox__custom"></span>


        </label>
        <label class="form-group__label checkbox">Animales de su especie
          <input type="checkbox" id="r-01" name="health" class="checkbox__control">
          <span class="checkbox__custom"></span>


        </label>
        <label class="form-group__label checkbox">Animales de otras especies
          <input type="checkbox" id="r-01" name="health" class="checkbox__control">
          <span class="checkbox__custom"></span>
        </label>
        <div class="form-group">
          <label for="Independencia" class="form-group__label">Independencia</label>
          <select id="Independencia" class="form-group__control">
            <option selected>Seleccionar...</option>
            <option value="">Muy independiente</option>
            <option value="">Dependiente por las noches</option>
            <option value="">Poco dependiente</option>
            <option value="">Muy dependiente</option>
          </select>
        </div>
        <div class="form-group">
          <label for="ruido" class="form-group__label">
            Ruido
          </label>
          <select id="ruido" class="form-group__control">
            <option selected>Seleccionar...</option>
            <option value="">Ruido cuando está solo</option>
            <option value="">Poco ruido</option>
            <option value="">Mucho ruido</option>
          </select>
        </div>
      </fieldset>
      <fieldset class="from-group form-group--checkbox">
        <legend class="form-group__title">Gustos</legend>
        <label class="form-group__label checkbox">Jugar
          <input type="checkbox" id="r-01" name="health" class="checkbox__control">
          <span class="checkbox__custom"></span>

        </label>
        <label class="form-group__label checkbox">Comer
          <input type="checkbox" id="r-02" name="health" class="checkbox__control">
          <span class="checkbox__custom"></span>

        </label>
        <label class="form-group__label checkbox">Escaparse
          <input type="checkbox" id="r-01" name="health" class="checkbox__control">
          <span class="checkbox__custom"></span>


        </label>
        <label class="form-group__label checkbox">Pasear
          <input type="checkbox" id="r-01" name="health" class="checkbox__control">
          <span class="checkbox__custom"></span>


        </label>
        <label class="form-group__label checkbox">Dormir
          <input type="checkbox" id="r-01" name="health" class="checkbox__control">
          <span class="checkbox__custom"></span>


        </label>
        <label class="form-group__label checkbox">Ir en coche
          <input type="checkbox" id="r-01" name="health" class="checkbox__control">
          <span class="checkbox__custom"></span>
        </label>
        <label class="form-group__label checkbox">Bañarse
          <input type="checkbox" id="r-01" name="" class="checkbox__control">
          <span class="checkbox__custom"></span>
        </label>
      </fieldset>
      <div class="form-group">
        <label for="ruido" class="form-group__label">
          ¿Motivo de la adopcion?
        </label>
        <select id="ruido" class="form-group__control">
          <option selected>Seleccionar...</option>
          <option value="">Divorcio</option>
          <option value="">Nacimiento de bebé</option>
          <option value="">Problemas economicos</option>
          <option value="">Mudanza</option>
          <option value="">Tiempo</option>
        </select>
      </div>


      <div class="form-btn--container">
        <button type="submit" class="btn">Enviar!</button>
      </div>
    </form>
  </div>
</main>
